// You can use normalize: https://github.com/necolas/normalize.css/blob/master/normalize.css
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s;
}

a {
    &,
    &:active,
    &:visited {
        text-decoration: none;
    }
}

.clearfix {
    zoom: 1;
}

.clearfix::after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}