* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, a:active, a:visited {
  text-decoration: none;
}

html {
  font-size: 62.5%;
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-size: 1.6rem;
}

ul {
  text-decoration: none;
}

li {
  list-style: none;
}

.link {
  padding: 5px 1rem;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-color: #0cbaba;
  background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
  position: relative;
}
.link span {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  background: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.link span:nth-child(1) {
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
}
.link span:nth-child(2) {
  top: 0;
  right: 0;
  width: 2px;
  height: 0;
}
.link span:nth-child(3) {
  right: 0;
  bottom: 0;
  width: 0;
  height: 2px;
}
.link span:nth-child(4) {
  bottom: 0;
  left: 0;
  width: 2px;
  height: 0;
}
.link:hover span {
  opacity: 1;
}
.link:hover span:nth-child(1) {
  width: 100%;
  height: 2px;
}
.link:hover span:nth-child(2) {
  width: 2px;
  height: 100%;
}
.link:hover span:nth-child(3) {
  width: 100%;
  height: 2px;
}
.link:hover span:nth-child(4) {
  width: 2px;
  height: 100%;
}

.header {
  margin: auto;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: background 0.3s, border 0.3s, border-radius 0.3s, -webkit-box-shadow 0.3s;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, -webkit-box-shadow 0.3s;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
  padding: 7px 0px 18px 31px;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 90px;
  width: 100%;
}
.header-logo {
  padding: 23px 0px 0px 0px;
}
.header-menu {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 13px 0px 0px 0px;
}
.header-menu > li {
  padding: 0 15px;
}
.header-menu > li > a {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.header-menu > li > a:hover {
  color: rgb(243, 220, 17);
}
.header-btn-callus {
  border-radius: 25px;
  border-color: rgb(243, 220, 17) !important;
}
.header-btn-callus::after, .header-btn-callus::before {
  display: none;
}
.header-btn-callus > p {
  color: #fff;
  font-size: 1.3rem !important;
  font-weight: 600;
  text-transform: uppercase;
}

.slider-img {
  width: 100%;
  height: 100%;
  margin-left: 0px;
  margin-top: 0px;
}

.btn {
  width: 130px;
  height: 50px;
  border: 1px solid #333;
  font-family: "Cinzel", serif;
  font-size: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  z-index: 0;
  -webkit-transition: 1s;
  transition: 1s;
}
.btn::before, .btn::after {
  position: absolute;
  background: #eee;
  z-index: -1;
  -webkit-transition: 1s;
  transition: 1s;
  content: "";
}
.btn::before {
  height: 50px;
  width: 130px;
}
.btn::after {
  width: 150px;
  height: 30px;
}
.btn:hover {
  background: #fff;
}
.btn:hover::before {
  width: 0px;
  background: #fff;
}
.btn:hover::after {
  height: 0px;
  background: #fff;
}

.cover {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  aspect-ratio: 16/9;
}

#app {
  position: relative;
  text-align: center;
  padding: 1.5rem 0;
  height: 100vh;
  background-color: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
}
#app header {
  max-width: 1200px;
}
#app header h1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
}
#app header h1 .image-box {
  position: absolute;
  top: 60%;
  left: 10rem;
  -webkit-transform: translateX(0) translateY(-50%);
          transform: translateX(0) translateY(-50%);
}
#app header h1 .image-box .logo {
  width: 4rem;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#app header h1 span {
  font-size: 4.5rem;
  color: transparent;
  background-image: linear-gradient(64.5deg, rgb(245, 116, 185) 14.7%, rgb(89, 97, 223) 88.7%);
  background-clip: text;
  -webkit-background-clip: text;
}
#app header p {
  font-size: 2rem;
}
#app main img {
  width: 80rem;
  height: auto;
  margin-top: 1.5rem;
  border-radius: 10px;
}
#app footer {
  font-weight: bolder;
  font-size: 2rem;
  position: fixed;
  bottom: 3rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}