.header {
    margin: auto;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 3px 0px 18px 31px;
    z-index: 3;
    @include flex($justify-content: space-between);
    @include abs($y: 5rem);
    height: 90px;
    width: 100vw;
    @include tablet {
        padding: 0 30px;
    }
    &-logo {
        padding: 10px 0px 0px 0px;
        @include mobile {
            order: 2;
        }
    }
    &-nav {
        @include tablet() {
            order: 3;
            margin-top: 10px;
            flex-basis: 100%;
        }
        @include mobile() {
            flex-basis: 80%;
            order: 1;
        }
        flex: 2;
        @include flex();
        padding: 13px 0px 0px 0px;
        &>li {
            padding: 10px 15px 15px;
            position: relative;
            &>a {
                color: $white-clr;
                font-size: 1.8rem;
                @include tablet {
                    font-size: 1.6rem;
                }
                @include mobile {
                    font-size: 1.6rem;
                }
                font-weight: 600;
                transition: 0.3s ease-in-out;
                &>i {
                    padding-left: 10px;
                }
                &:hover {
                    color: $yellow-clr;
                }
            }
            &:hover .header-subnav {
                display: inline-block;
            }
        }
    }
    &-subnav {
        display: none;
        @include abs($y: 50px, $x: 0, $translateX: 0, $translateY: 0);
        transition: 0.5s ease-in-out;
        text-align: left;
        min-width: 200px;
        line-height: 70px;
        background-color: #000;
        &>li>a {
            color: $white-clr;
            font-size: 1.3rem;
            &:hover {
                color: $yellow-clr;
            }
        }
    }
    &-btn-callus {
        @include mobile {
            order: 3;
            display: none !important;
        }
        margin-top: 5px;
        border-radius: 25px;
        border-color: $yellow-clr !important;
        &>p {
            color: $white-clr;
            font-size: 1.3rem !important;
            font-weight: 700;
            text-transform: uppercase;
        }
        &:hover {
            background-color: $white-clr;
            p {
                color: #333;
            }
        }
    }
}