#blog {
    .blog-item {
        @include flex($align-items: start);
        padding: 40px 0;
        border-bottom: 1px solid #ebeced;
    }
    .blog-item-image {
        margin: 7px 1.875rem 0 0;
        flex: auto;
        max-width: 570px;
        max-height: 431px;
        & a>img {
            border-radius: 4px;
            width: 100%;
        }
        padding: 10px;
        @include desktop() {
            padding: 0;
        }
    }
    .blog-item-content {
        width: 100%;
        padding: 10px;
        h3 {
            font-size: 2.4rem;
            &:hover {
                color: #ffc000;
            }
        }
        @include desktop() {
            width: 50%;
        }
    }
}