#blog {
    .blog-item {
        padding: 40px 0;
        border-bottom: 1px solid #ebeced;
    }
    .blog-item-image {
        margin: 7px 1.875rem 0 0;
        flex: auto;
        & a>img {
            border-radius: 4px;
            width: 570px;
            height: 431px;
        }
    }
    .blog-item-content {
        width: 50%;
        h3 {
            font-size: 2.4rem;
            &:hover {
                color: #ffc000;
            }
        }
        .entry-meta {
            margin-bottom: 22px;
            font-size: 1.4rem;
            color: #a1a2a4;
            .byline,
            .cat-links {
                &>a {
                    color: #ffc000;
                    &:hover {
                        color: #3b3d42;
                    }
                }
            }
        }
        .entry-content {
            max-width: 570px;
            margin: 0 0 1em;
            font-size: 1.8rem;
            word-wrap: break-word;
            font-style: normal;
            font-weight: 300;
            line-height: 1.6;
            font-family: Poppins, sans-serif;
            letter-spacing: 0px;
            text-align: left;
            color: #3b3d42;
            hyphens: auto;
            text-align: justify;
        }
        .entry-footer {
            &>a {
                font-style: normal;
                font-weight: 900;
                font-size: 11px;
                line-height: 1;
                font-family: Poppins, sans-serif;
                letter-spacing: 1px;
                color: #ffffff;
                background-color: #ffc000;
                border: none;
                text-transform: uppercase;
                border-radius: 4px;
                &:hover {
                    color: #ffffff;
                    background-color: rgb(255, 230, 38);
                }
            }
        }
    }
}